In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
t19_data_to_load = "Resources/2019.csv"
t19_data_df = pd.read_csv(t19_data_to_load)

In [4]:
t19_data_df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [8]:
t19_data_df.drop(columns=['Overall rank'])

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [9]:
column = t19_data_df["Score"]
max_value = column.max()
print(max_value)

7.769

In [15]:
max.df = t19_data_df.loc[(t19_data_df["Score"] == max_value)]
print(max)

   Overall rank Country or region  Score  GDP per capita  Social support  \
0             1           Finland  7.769            1.34           1.587

   Healthy life expectancy  Freedom to make life choices  Generosity  \
0                    0.986                         0.596       0.153

   Perceptions of corruption
0                      0.393

In [16]:
print((max['Country or region']).to_string(index=False))

Finland

In [22]:
column1 = t19_data_df["GDP per capita"]
max_value = column1.max()
print(max_value)

1.684

In [23]:
max.df = t19_data_df.loc[(t19_data_df["GDP per capita"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.22,0.167

In [26]:
print((max.df['Country or region']).to_string(index=False))

Qatar

In [28]:
column2 = t19_data_df["Social support"]
max_value = column2.max()
print(max_value)

1.624

In [29]:
max.df = t19_data_df.loc[(t19_data_df["Social support"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
3,4,Iceland,7.494,1.38,1.624,1.026,0.591,0.354,0.118

In [30]:
print((max.df['Country or region']).to_string(index=False))

Iceland

In [31]:
column3 = t19_data_df["Healthy life expectancy"]
max_value = column3.max()
print(max_value)

1.141

In [32]:
max.df = t19_data_df.loc[(t19_data_df["Healthy life expectancy"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453

In [33]:
print((max.df['Country or region']).to_string(index=False))

Singapore

In [34]:
column4 = t19_data_df["Freedom to make life choices"]
max_value = column4.max()
print(max_value)

0.631

In [35]:
max.df = t19_data_df.loc[(t19_data_df["Freedom to make life choices"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.24

In [36]:
print((max.df['Country or region']).to_string(index=False))

Uzbekistan

In [38]:
column5 = t19_data_df["Generosity"]
max_value = column5.max()
print(max_value)

0.566

In [39]:
max.df = t19_data_df.loc[(t19_data_df["Generosity"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
130,131,Myanmar,4.36,0.71,1.181,0.555,0.525,0.566,0.172

In [40]:
print((max.df['Country or region']).to_string(index=False))

Myanmar

In [41]:
column6 = t19_data_df["Perceptions of corruption"]
max_value = column6.max()
print(max_value)

0.453

In [42]:
max.df = t19_data_df.loc[(t19_data_df["Perceptions of corruption"] == max_value)]
max.df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453

In [43]:
print((max.df['Country or region']).to_string(index=False))

Singapore