In [54]:
import pandas as pd
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.linear_model import LinearRegression

In [55]:
#Load the data
file_path = "clean_whr_2021.csv"
happy21_df = pd.read_csv(file_path)
happy21_df.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [56]:
#Columns
happy21_df.columns

Index(['Country name', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [57]:
#List dataframe data types
happy21_df.dtypes

Country name                     object
Ladder score                    float64
Logged GDP per capita           float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [58]:
#Find any Null values in any of the columns
for column in happy21_df.columns:
    print(f"Column {column} has {happy21_df[column].isnull().sum()} null value")

Column Country name has 0 null value
Column Ladder score has 0 null value
Column Logged GDP per capita has 0 null value
Column Social support has 0 null value
Column Healthy life expectancy has 0 null value
Column Freedom to make life choices has 0 null value
Column Generosity has 0 null value
Column Perceptions of corruption has 0 null value

In [60]:
#Remove country or region column
happy21_df.drop(columns=["Country name"], inplace=True)
happy21_df.head()

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [62]:
# Initializing model with K = 3
model = LinearRegression()
model

LinearRegression()

In [63]:
# Fit the model
model.fit(happy21_df.drop(columns=["Ladder score"]),happy21_df["Ladder score"])

LinearRegression()

In [65]:
model.score(happy21_df.drop(columns=["Ladder score"]),happy21_df["Ladder score"])

0.7558980162970426

In [66]:
# Get the predictions
predictions = model.predict(happy21_df.drop(columns=["Ladder score"]))
print(predictions)

[7.07932172 7.19022394 7.13566001 7.02222017 7.0405694  7.23748244
 7.10399581 7.04492683 7.08001215 6.8950424  6.97545225 6.43688066
 6.72151888 6.92605752 7.04948809 6.24001784 6.80006704 6.32826692
 6.48546722 6.34753357 6.58539864 6.44107137 6.75885641 6.25102695
 6.53839043 6.28489993 6.34012892 5.98782856 6.59986595 5.61543569
 6.34343331 7.3804799  5.62081492 6.02022435 5.7758343  5.85244517
 5.74998093 6.05312577 5.96467787 6.57871418 6.15898424 6.23779349
 5.85821618 6.18609175 6.18194713 5.79180308 6.16260502 5.79818278
 5.52119294 6.06769724 5.86971577 5.71829422 5.97513502 6.08415686
 5.6491218  6.31353704 5.95606092 6.22224701 5.49365039 5.95675123
 5.59399292 5.83983192 5.59439087 5.56094721 5.58695666 5.62056917
 5.68795864 5.43972977 5.45677545 5.54879822 5.85268948 5.66891
 5.86469586 6.2159742  5.63792774 5.69851811 6.45932982 5.42056879
 5.81023715 5.50424293 6.01801684 5.70563242 4.2951044  5.89223865
 4.27123817 5.64377829 5.08600637 5.88300794 6.13874431 5.74631594
 4.3970045  4.49935099 5.26477703 5.42778104 4.86017886 4.17206711
 6.10500175 4.39575023 4.00158939 5.33016694 5.143007   4.17920076
 5.20620931 5.33463743 4.53500861 4.62894592 5.12771004 5.14242265
 4.84669746 5.46020683 4.7461426  5.07524845 4.1558351  5.30178898
 4.64502542 4.46387213 4.1848111  5.07904841 4.49617277 4.27819416
 4.81557693 4.821467   5.08166755 4.9504101  4.82338083 5.4246094
 5.29093979 3.5149923  5.69480731 4.54875157 3.95359995 5.07366935
 4.67565737 4.49805593 3.94862996 3.68399164 4.57993961 3.91513496
 4.90168155 3.33369367 4.34324556 4.85337295 3.78671596 3.93473238
 4.23804996 5.31765946 4.86228346 4.39140049 2.82187924]

In [67]:
happy21_df

,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,7.464,1.501,1.079,0.753,0.647,0.302,0.384
...,...,...,...,...,...,...,...
144,3.512,0.451,0.731,0.007,0.405,0.103,0.015
145,3.467,1.099,0.724,0.340,0.539,0.027,0.088
146,3.415,0.364,0.202,0.407,0.627,0.227,0.493
147,3.145,0.457,0.649,0.243,0.359,0.157,0.075
148,2.523,0.370,0.000,0.126,0.000,0.122,0.010